.navbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1976d2;
  width:80%;
  margin: auto;
}
.navbar_header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.icon{
  width:50%
}
.contact_details > span{
  margin:10px
}